{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row" style="padding-top: 50px">
    <div class="col-md-10 col-md-offset-1">
        <ol class="breadcrumb">
          <li><a href="#">Network</a></li>
          <li><a href="#">Host</a></li>
          <li class="active">{{ host.hostname }}</li>
        </ol>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title"> {{ host }} - {{ host.hostname }} ( {{ host.pos }} )</h2>
          </div>
          <div class="panel-body">
              <table class="table">
                  <tbody>
                      <tr>
                        <td><h5><strong>CPUs:</strong> {{ host.cores }}</h5> </td>
                        <td><h5><strong> Procesador:</strong> {{ host.processor }} </h5></td>
                        <td><h5><strong> Modelo cpu:</strong> {{ host.cpu_model }}</h5></td>
                        <td><h5><strong> Plataforma:</strong> {{ host.platform }}</h5></td>
                      </tr>
                      <tr>
                        <td><h5><strong>S.O.:</strong> {{ host.os }}</h5> </td>
                        <td><h5><strong> Version S.O.:</strong> {{ host.os_version }}</h5></td>
                        <td><h5><strong> Kernel:</strong> {{ host.kernel }} </h5></td>
                        <td><h5><strong> Version Kernel:</strong> {{ host.k_release }}</h5></td>
                      </tr>
                      <tr>
                        <td><h5><strong>RAM:</strong> {{ host.ram }} MB</h5> </td>
                        <td><h5><strong> Particion {{ host.partition }}: </strong> {{ host.part_usage }} %</h5></td>
                        <td><h5><strong> Procesos:</strong> {{ host.procs }} </h5></td>
                        <td><h5><strong> Uptime:</strong> {{ host.uptime_str }}</h5></td>
                      </tr>
                  </tbody>
              </table>

          </div>
        </div>

        <div class="well well-lg">
            <div class="row">
                <div class="col-md-4">
                    <div id="container-ram" style="width: 300px; height: 200px;">
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="container-load" style="width: 300x; height: 200px;"></div>
                </div>
                <div class="col-md-4">
                    <div id="container-cpu" style="width: 300px; height: 200px;"></div>
                </div>
            </div>
        </div>

        <div class="well well-lg">
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     <div id="container" style="width: 100%; height: 300px;"></div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock content %}

{% block js %}
    <script src="{% static "bower_components/highcharts/highcharts.js" %}"></script>
    <script src="{% static "bower_components/highcharts/highcharts-more.js" %}"></script>
    <script src="{% static "bower_components/highcharts/modules/solid-gauge.js" %}"></script>
    <script src="{% static "chart_options.js" %}"></script>
        <script src="{% static "linear.js" %}"></script>

<script>

$(document).ready(function() {

    id = "{{host.id}}";
    load_hist(id)

    $('#container-ram').highcharts(Highcharts.merge(ram_gaugeOptions, ram_copt, opt2));
    $('#container-load').highcharts(Highcharts.merge(load_gaugeOptions, load_copt, opt2));
    $('#container-cpu').highcharts(Highcharts.merge(cpu_gaugeOptions, cpu_copt, opt2));

    io.on('on_rsrc_update', function(data){
        var ram_series = ram_chart.series[0].data;
        var load_series = load_chart.series[0].data;
        var cpu_series = cpu_chart.series[0].data;

        if(data.id == "{{host.id}}"){
            //console.log(data)
            p_ram = parseFloat(data.ram_prc).toFixed(1)
            p_cpu = parseFloat(data.cpu_pcpu).toFixed(1)
            p_load5 = parseFloat(data.load5 * 100 / data.cores).toFixed(1)

            ram_series[0].update(parseFloat(p_ram));
            load_series[0].update(parseFloat(p_load5));
            cpu_series[0].update(parseFloat(p_cpu));

            //series[0].update(77.8);
        }
    });

});
</script>
{% endblock js %}