{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

    <br>
    <div class="row" >
    <div class="col-md-10 col-md-offset-1">
        <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
                  <h3 class="widget-user-username"> {{ host.hostname }} ( {{ host.pos }} )</h3>
                  <h5 class="widget-user-desc">{{ host }}</h5>

            </div>

            <div class="box-footer no-padding">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="nav nav-stacked">
                            <li><a href="#">CPUs <span class="pull-right badge bg-green">{{ host.cores }}</span></a></li>
                            <li><a href="#">Procesador <span class="pull-right badge bg-green"> {{ host.processor }} </span></a></li>
                            <li><a href="#"> Modelo CPU <span class="pull-right badge bg-green">{{ host.cpu_model }}</span></a></li>
                            <li><a href="#">Plataforma <span class="pull-right badge bg-green">{{ host.platform }}</span></a></li>
                              <li><a href="#">Sistema Operativo <span class="pull-right badge bg-green">{{ host.os }}</span></a></li>
                            <li><a href="#">Version Sistema Operativo  <span class="pull-right badge bg-green">{{ host.os_version }}</span></a></li>

                          </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav nav-stacked">

                            <li><a href="#">Kernel <span class="pull-right badge bg-green">{{ host.kernel }} </span></a></li>
                            <li><a href="#">Version Kernel <span class="pull-right badge bg-green">{{ host.k_release }}</span></a></li>

                              <li><a href="#">RAM <span class="pull-right badge bg-green">{{ host.ram }} MB</span></a></li>
                              <li><a href="#">Particion {{ host.partition }} <span class="pull-right badge bg-green">{{ host.part_usage }}%</span></a></li>
                              <li><a href="#">Procesos <span class="pull-right badge bg-green">{{ host.procs }}</span></a></li>
                              <li><a href="#">Uptime <span class="pull-right badge bg-green">{{ host.uptime_str }}</span></a></li>
                          </ul>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="btn-group" role="group" aria-label="..." style="padding: 3%">
                            <a class="btn btn-info btn-xs" href="/network/host/{{ host.id }}/report_detail/"><i class="icon outline file pdf"></i> Generar PDF</a>
                        </div>
                    </div>
                </div>

                </div>
        </div>

        {% autoescape off %}

        <div class="box box-danger ">
            <div class="box-header with-border">
                <h3 class="box-title">Datos generales</h3>
            </div><!-- /.box-header -->
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     {{ host.dmi }}
                </div>
            </div>
        </div>

         <div class="box box-danger ">
            <div class="box-header with-border">
                <h3 class="box-title">NVIDIA STATUS</h3>
            </div><!-- /.box-header -->
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     {{ host.screen }}
                </div>
            </div>
        </div>



        <div class="box box-danger ">
            <div class="box-header with-border">
                <h3 class="box-title">SERVER</h3>
            </div><!-- /.box-header -->
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     {{ host.server_desc }}
                </div>
            </div>
        </div>


        <div class="box box-danger ">
            <div class="box-header with-border">
                <h3 class="box-title">DIMMS</h3>
            </div><!-- /.box-header -->
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     {{ host.dimms }}
                </div>
            </div>
        </div>
                    <div class="box box-danger ">
            <div class="box-header with-border">
                <h3 class="box-title">POWERSUPLY</h3>
            </div><!-- /.box-header -->
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     {{ host.power_suply }}
                </div>
            </div>
        </div>

        <div class="box box-danger ">
            <div class="box-header with-border">
                <h3 class="box-title">RAID CONTROLER</h3>
            </div><!-- /.box-header -->
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     {{ host.raid }}
                </div>
            </div>
        </div>

            <div class="box box-danger ">
            <div class="box-header with-border">
                <h3 class="box-title">FANS</h3>
            </div><!-- /.box-header -->
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     {{ host.fans }}
                </div>
            </div>
        </div>

        <div class="box box-danger ">
            <div class="box-header with-border">
                <h3 class="box-title">TEMPERATURE</h3>
            </div><!-- /.box-header -->
            <div class="row">
                 <div class="col-md-10 col-md-offset-1">
                     {{ host.temperature }}
                </div>
            </div>
        </div>

        {% endautoescape %}
    </div>
</div>

{% endblock content %}

{% block js %}

{% endblock js %}